/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-regular);
  background-color: var(--main-color);
  background-image: var(--bg-image);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-size: cover;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(375px, 100%, 700px);
  font-family: var(--accent-font);
  background-color: #fff;
  border: 2px solid var(--main-color);
  margin-top: 100px;
  gap: 20px;
}

.header-logo {
  padding-top: 128px;
  font-size: clamp(49px, 4vw + 1rem, 65px);
  font-weight: var(--font-weight-regular);
  text-decoration: none;
}

.header-logo:focus-visible {
  outline: none;
}

.header-title {
  padding-bottom: 128px;
  font-size: clamp(14px, 2vw + 0.5rem, 23px);
  font-weight: var(--font-weight-regular);
  text-transform: uppercase;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: clamp(375px, 100%, 700px);
  margin-top: 100px;
  gap: 50px;
}

.card {
  display: flex;
  flex-direction: column;
  width: clamp(375px, 100%, 700px);
  height: fit-content;
  font-family: var(--main-font);
  background-color: #fff;
  border: 2px solid var(--main-color);
  position: relative;
}

.minor-title {
  font-size: 18px;
  font-variation-settings: 'wght' var(--font-weight-bold);
  line-height: 21.78px;
  text-align: left;
  padding: 5px 10px;
  border-bottom: 2px solid var(--main-color);
}

.card-little-title {
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 14px;
  position: absolute;
  top: 58px;
  right: 25px;
  opacity: 0.5;
  color: var(--main-color);
  text-shadow: -1px 0 #fff, 0 1px #fff, 1px 0 #fff, 0 -1px #fff;
  mix-blend-mode: hard-light;
}

.image {
  display: flex;
  flex-direction: column;
  width: clamp(375px, 100%, 700px);
  height: 100%;
  aspect-ratio: 1 / 1; 
  background-size: cover;
}

p {
  display: flex;
  width: 100%;
  font-size: 18px;
  font-weight: var(--font-weight-regular);
  line-height: 21px;
  text-align: left;
  padding: 27px 25px 0px;
}

p:nth-child(2n) {
  border-top: 2px solid var(--main-color);
}

.button__conteiner {
  display: flex;
  align-items: center;
  gap: 5px;
  align-self: flex-end;
  margin: 25px;
}

.button__conteiner:focus-visible {
  transition: 0.3s ease;
}

.card__icon-button {
  display: flex;
  align-items: center;
  height: 38px;
  border: 2px solid transparent;
  background-color: transparent; 
  cursor: pointer;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--main-color);
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 2px solid var(--main-color);
  background-color: #fff; 
  cursor: pointer;
  transition: box-shadow 0.3s ease;
}

.button:focus-visible {
  outline: none; 
  box-shadow: 2px 2px 0 var(--main-color); 
}

.button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0%; /* Начинаем в центре */
  width: 100%; /* Ширина псевдоэлемента */
  height: 100%; /* Высота псевдоэлемента равна высоте кнопки */
  background-color: var(--main-color);/* Цвет псевдоэлемента */
  transform: scaleX(0); /* Начинаем с масштаба 0 */
  transition: transform 0.5s ease-in-out; /* Плавный переход по масштабу */
  transform-origin: left; /* Изменение масштаба происходит от левого края */
}

.button:hover::before {
  transform: scaleX(1); /* Масштабируем до 1 при наведении */
}

.card__like-button {
  width: 130px;
  height: 38px;
}

.button__text {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 12.6px;
  color: #fff; 
  mix-blend-mode: difference;
}

.car-neo-noir {
  filter: grayscale(0.7);
}

.car-saturative {
  filter: saturate(3);
}

.car-purple {
  filter: hue-rotate(30deg);
}

.car-negative {
  filter: invert(0.8);
}

.car-sepia {
  filter: sepia(0.8);
}

.car-blur {
  filter: blur(10px);
}

.car-super-negative {
  filter: sepia(0.5) saturate(1.4) contrast(1.6) blur(4px) hue-rotate(60deg);
}

.save-button {
  gap: 10px;
  margin-bottom: 105px;
  height: 55px;
  width: 335px;
}

.floppy {
  position: relative;
  z-index: 1;
  width: 21px;
  height: 21px;
  color: #fff; 
  mix-blend-mode: difference;
}

.card-button-little-title {
  position: relative;
  z-index: 1;
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 12.6px;
  color: #fff; 
  mix-blend-mode: difference;
}

.popup[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
}

.popup::backdrop {
  background: #000;
  opacity: 75%;
}

.popup-content__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.floppy-popup {
  position: relative;
  z-index: 1;
  width: 39px;
  height: 39px;
  color: #fff; 
  mix-blend-mode: difference;
}

.button__text-popup {
  font-family: var(--accent-font);
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  line-height: 21px;
  text-transform: uppercase;
  width: 234px;
}

.button__ok {
  height: 38px;
  text-transform: uppercase;
}

@media (width <= 465px) {
  .card-little-title {
    right: 12px;
  }

  .new-padding {
    top: 75px;
  }
}

@media (width <= 375px) {
  .header-logo {
    padding-top: 120px;
  }

  .header-title {
    font-size: 14px;
    padding-bottom: 120px;
  }

  .save-button {
    flex-direction: column;
    height: 80px;
    width: 306px;
  }

  .floppy {
    width: 28px;
    height: 28px;
  }

  .popup {
    padding: 30px 42px;
  }

  .popup[open] {
    gap: 30px;
  }
  
}