/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --main-font: 'Inter-Variable', sans-serif;
    --accent-font: 'Press Start 2P', sans-serif;
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --bg-image: repeating-linear-gradient(
        90deg,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    ),
    repeating-linear-gradient(
        180deg,
        #d3d3d3,
        #d3d3d3 2px,
        transparent 2px,
        transparent 4px
    ),
    linear-gradient(
        to bottom,
        #e7e7e7 0.01%,
        #1a1a1a 100%
    );
    --main-color: #000;
    --heart-color: red;
}